:root{
    --primary-bg-color: rgba(162, 198, 252, .7);
    --primary-font: 'Poppins', sans-serif;
    --secondary-font: 'Roboto Condensed', sans-serif;
}

*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    background-color: var(--primary-bg-color);
    font-family: var(--primary-font);
}

h1{
    color: aliceblue;
    text-align: center;
    background-image: linear-gradient(90deg,rgb(65, 141, 255), rgb(97, 1, 86));
    padding: 1rem;
}

#form-container{
    padding-bottom: 1rem;
    border-bottom: solid gray 2px;
}

#current-weather-container{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border: solid black 2px;
    padding: 0.5rem;
    height: 225px;
    margin: 0.5rem 0.5rem 0.5rem 0;
    border-radius: .5rem;
}

#current-weather-container span, h3{
    font-weight: 700;
}

#forcast-container{
    padding: 0.5rem;
}

img{
    width: 25px;
    height: auto;
}

.grid{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    column-gap: 0.25rem;
}

.flex-col{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: aqua;
    padding: .5rem;
    border-radius: 1rem;
    border: solid black 1px;
    font-weight: 700;
    padding: 1rem;
}

.flex-col img{
    width: 45px;
    height: auto;
}

.past-city-btn{
    display: flex;
    align-items: center;
}

.btn-secondary{
    width: 100%;
}

.fa-solid, .fa-trash-can{
    cursor: pointer;
}

.fa-trash-can:hover{
    box-shadow: 4px 4px 6px rgb(78, 34, 34);
}

#my-location{
    margin: 0 auto;
    width: 50%;
    min-width: 125px;
}

@media only screen and (max-width: 600px) {
    .row{
        display: flex;
        flex-direction: column;
    }

    .col-4{
        width: 90%;
        margin: 0 auto;
    }
    .col-8{
        width: 90%;
        margin: 0 auto;
    }

    #current-weather-container{
        height: 175px;
        margin-right: 0rem;
    }

    .flex-col{
        flex-basis: 100%;
        margin-bottom: .25rem;
    }

    h3{
        text-align: center;
    }
  }

/* grid-template-columns: repeat(auto-fill, 1fr); */